<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="noindex, nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>Réinitialisation</title>
    </head>
    <body id="login" class="login reset">
        <h2 class="wrap">
            <i class="icon-socom"></i>
            <span>Mot de passe</span>
        </h2>
        {% trans_default_domain 'MobiledevUserBundle' %}

        {% if form_errors(form.plainPassword.first) %}
            <div class="alert alert-danger">{{ form_errors(form.plainPassword.first) }}</div>
        {% endif %}

        {{ form_start(form, {'attr': { 'class': 'mobiledev_user_resetting_reset form-login wrap' }}) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Nouveau mot de passe', 'class': 'form-control'}}) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Ressaisissez votre mot de passe', 'class': 'form-control'}}) }}
            {{ form_widget(form) }}
            <input type="submit" value="Valider" />
        {{ form_end(form) }}

    </body>
</html>
