{% extends '@MobiledevUser/base_user.html.twig' %}

{% block body %}
    Un e-mail a été envoyé à l'adresse {{ email }}. Il contient un lien d''activation sur lequel il vous faudra cliquer afin d'activer votre compte.
{% endblock %}
