{% extends '@MobiledevUser/base_user.html.twig' %}

{% block body %}
    Votre inscription est maintenant validée vous pouvez <a href="{{ path('mobiledev_user_login') }}">vous connecter</a>
{% endblock %}
