{% extends '@MobiledevUser/base_user.html.twig' %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('@MobiledevUser/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
